/* landing page css */
* {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color:inherit;
}

section {
    padding: 1em 2em;
}

/* Header */
header {
    background-color: #1F2937;
    padding: 1em 2em;

}
.header {
    display: flex;
    justify-content: space-between;
    padding: .5em;
}
 .logo {
    color: #F9FAF8;
    font-size: 24px;
}

  ul {
    color: #E5E7EB;
    font-size: 18px;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 1em;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 2em;
}

/* Hero Section  */
.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
}

.hero h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin-top: 0px;
}

.hero p {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
}

.hero-left {
    padding: 2em;
}

.hero-right {
    padding: 2em;
    display: flex;
    flex-grow: 0;
}

/* Info section */
.info {
    margin: 3em 0;
}

.info h2{
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.info-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.info-item {
    max-width: 200px;
    margin: 2em;
}

card img {
    border: 3px solid #3882F6;
    border-radius: 8px;
   
}


/* Quote section */
.quote {
    background-color: #E5E7EB;
    padding: 5em;
}

blockquote {
    color: #1F2937;
    font-style: italic;
    font-weight: 100 ;
    font-size: 36px;
}

cite {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    
}

/* CTA section */
.cta {
    background-color:#3882F6;
    border-radius: 8px; 
    color:#F9FAF8;
    margin: 3em 2em;
    display: flex;
   justify-content: space-around;
}



.cta button {
    border: 2px solid #F9FAF8;
    display: flex;
    align-self: center;
}

/* Footer */
footer {
    background-color: #1F2937;
    padding: 1em 2em;
    color:#E5E7EB;
    display: flex;
    justify-content: center;
    padding: 2em;
}


